# Archivos del sistema y temporales
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/

# Configuración de IDEs (IntelliJ, Android Studio y VS Code)
*.iml
*.ipr
*.iws
.idea/
.vscode/

# Configuración local y de compilación de Android
.gradle/
**/android/.gradle/
**/android/local.properties
**/android/app/google-services.json

*.keystore
*.jks
**/android/key.properties
.env*
!.env.example

# Flutter / Dart / Pub
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/
/coverage/

# Símbolos y mapas de compilación
app.*.symbols
app.*.map.json

# Artefactos de compilación Android
/android/app/debug
/android/app/profile
/android/app/release